*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font: 1em sans-serif;
}

body{
    font-family: Arial, sans-serfif;
    line-height: 1.6;
    margin: 0;
    padding:0;
    background: #020024;
    color: #3a31d8;
}

header{
    text-align: center;
    padding: 2rem 1rem;
    background-color:#3a31d8;
    color: #020024;
    border-bottom: 4px solid #303644;
}

header{
    font-size: size 2.5rem;
    margin-bottom: 0.5rem;

}

header h1{
    text-shadow: 0px 0px 10px #3a31d8,
                 0px 0px 20px #020024,
                 0px 0px 40px #3a31d8,
                 0px 0px 80px #020024;
font-size: 50px;
color: #ebe9fc;
}

header nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    gap: 1.5rem;
}

header nav ul li a {
    color: #ebe9fc;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;

}

header nav ul li a:hover{
    color: #303644;


}
.header-left img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.img-container {
  position: relative; /* the container is the point of reference  for the img which will be positioned absolutely */
  width: 150px;
  height: 150px;
  overflow: hidden; /* sicne the img moves, this keeps anything that may go outside the container hidden */
  border-radius: 100px;
}

.img-container img {
  position: absolute; /* works with top:0 and  left: 0 to place the img at the top left corner filling it exactly */
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  object-fit: cover; /* ensures that the img keeps the right proportions covering the stated area without stretching */
  transition: opacity 0.7s ease; /* if opacity changes when the images swap, it ensures a smooth fade */
  border-radius: 60%; /* makes the img slightly more rounded but not like a perfect circle */
}

.img-hover {
  opacity: 0; /* second image fully transparent, only visible when you hover */
}

.img-container:hover .img-hover {
  opacity: 1; /* so the hovered picture fades in */
}

.img-container:hover .img-default {
  opacity: 0; /* so the original picture fades out and stays transparent as long as you hover */
}

main{
    padding: 2rem 1rem;
    max-width: 800px;
    margin:2rem auto;
    background: #010104;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0.1);
}

section{
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #0600c2;
    border-bottom: 2px solid #0600c2;
    padding-bottom: 0.5rem;
    text-shadow: 0 2px 8px #010104;
    

}

section h2{
    
    text-shadow: 0px 0px 10px #3a31d8,
                 0px 0px 20px #020024,
                 0px 0px 40px #3a31d8,
                 0px 0px 80px #020024;
font-size: 50px;
color:#ebe9fc;
 ;
}

section p {
    font-size: 1rem;
    color:#0600c2;
    line-height: 1.6rem;
}

section p:hover{
     color: #ebe9fc;

}
section ul li:hover{
      color: #ebe9fc;
}

section ul{
    list-style:disc;
    padding-left: 1.5rem;
    color: #0600c2;
}

section ul li{
    margin-bottom: 0.5rem;
}

footer{
    text-align:center;
    padding: 2rem 1rem;
    background-color: #3a31d8;
    color: #f9f9f9;
    border-bottom: #303644;
}

footer {
    font-size:2.5rem;
    margin-bottom: 0.5rem;
}

footer h3 {
    text-shadow: 0px 0px 10px #f9f9f9,
                 0px 0px 20px #f9f9f9,
                 0px 0px 40px #f9f9f9,
                 0px 0px 80px #f9f9f9;
font-size: 50px;
color: #f9f9f9;
}

footer nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    gap: 1.5rem;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;

}

footer  nav ul li a:hover{
    color: #010104;


}






